*, pre {
	word-break: break-all;
}

body, figure {
	margin: 0;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block;
}

a {
	background-color: transparent;
}

img {
	vertical-align: middle;
}

*, ::after, ::before {
	box-sizing: border-box;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: "NotoSansKR Regular";
	margin: 0;
}

small {
	color: #888;
}

body {
	line-height: 1.5438;
	color: #4d4d4d;
}

body {
	letter-spacing: -0.3px;
	font-size: 13px;
	font-family: "NotoSansKR Regular" !important;
	font-weight: 400;
	background-color: #FAFAFA;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}

.h6, h6 {
	font-size: 11px;
}

a {
	color: #f26656;
	text-decoration: none;
}

.h4, .h5, .h6, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.h5, h5 {
	font-size: 13px;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input {
	-webkit-appearance: none !important;
}

.small, small {
	font-size: 84%;
}

.h2, h2 {
	font-size: 23px;
}

ol, ul {
	margin-bottom: 10px;
}

::selection {
	background: #FAE57C;
	color: #4d4d4d;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}
/* @media all and (min-width:768px) */
.navbar {
	border-radius: 5px;
}

.header-main, .navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed;
	right: 0px;
	left: 0px;
	z-index: 1030;
}

.header-main, .navbar-fixed-top {
	top: 0px;
	border-width: 0 0 1px;
}
/* @media all and (min-width:768px) */
.header-main, .navbar-fixed-bottom, .navbar-fixed-top {
	border-radius: 0;
}

.header-main, .navbar-fixed-top {
	z-index: 999 !important;
}

.navbar-collapse::after, .navbar-collapse::before, .navbar-header::after,
	.navbar-header::before, .navbar::after, .navbar::before {
	content: " ";
	display: table;
}

.navbar::after {
	clear: both;
}
/* @media all and (min-width:768px) */
.container {
	width: 750px;
}

.container, .container-fluid {
	margin-right: auto;
	margin-left: auto;
}

.container, .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}
/* @media all and (min-width:992px) */
.container {
	width: 970px;
}
/* @media all and (min-width:1200px) */
.container {
	width: 1170px;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.container {
	width: 1024px !important;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.margin-top-15 {
	margin-top: 15px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.container-fluid::after, .container-fluid::before, .container::after,
	.container::before, .row::after, .row::before {
	content: " ";
	display: table;
}

.container::after {
	clear: both;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,
	.kmong-grid-3-10, .kmong-grid-3-20, .kmong-grid-4-10, .kmong-grid-4-20,
	.kmong-grid-4-40, .kmong-grid-4-5, .kmong-grid-5-20 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,
	.kmong-grid-3-10, .kmong-grid-3-20, .kmong-grid-4-10, .kmong-grid-4-20,
	.kmong-grid-4-40, .kmong-grid-4-5, .kmong-grid-5-20 {
	float: left;
}

.col-xs-4 {
	width: 33.33%;
}

.col-xs-offset-4 {
	margin-left: 33.33%;
}

.row::after {
	clear: both;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "NotoSansKR Regular" !important;
	font-weight: 400;
	line-height: 1.1;
	color: inherit;
}

.alarm-dropdown-menu-bottom, .text-center {
	text-align: center !important;
}

.color-dark-gray {
	color: #888 !important;
}

.margin-top-25 {
	margin-top: 25px !important;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-6 {
	width: 50%;
}

.panel {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
}

.extra-option-list-group-item, .gig-form-container .gig-form-list-group-item,
	.gig-form-container :first-child.gig-form-list-group-item,
	.index-side-list-group-item, .list-group-item, .panel-default {
	border-color: #E6E6E6 !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.panel-heading {
	padding: 10px 12px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.panel-default>.panel-heading {
	color: #4d4d4d;
	background-color: #E8E8E8;
	border-color: #E6E6E6;
}

.panel-body {
	padding: 20px;
}

.panel-body::after, .panel-body::before {
	content: " ";
	display: table;
}

.panel-body::after {
	clear: both;
}

.multi-form-group {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 5px;
}

.margin-bottom-15 {
	margin-bottom: 15px !important;
}

.btn {
	display: inline-block;
	margin-bottom: 0px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 15px;
	font-size: 13px;
	line-height: 1.5438;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-primary {
	color: #fff;
	background-color: #f26656;
	border-color: #f0513e;
}

.btn-group-sm>.btn, .btn-sm, .gig-detail-profile-btn {
	padding: 11px 14px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 4px;
}

.btn-block {
	display: block;
	width: 100%;
}

.margin-top-5 {
	margin-top: 5px !important;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}

input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block
	{
	width: 100%;
}

.form-control, .input-file-form-control, .select-control>select {
	display: block;
	width: 100%;
	height: 52px;
	padding: 15px;
	font-size: 13px;
	line-height: 1.5438;
	background-image: none;
}

.form-control, .input-file-form-control {
	color: #555;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
}

:-ms-input-placeholder.form-control, :-ms-input-placeholder.input-file-form-control
	{
	color: #999;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.header-yellow {
	height: 59px;
}

.header-yellow {
	width: 100%;
	height: 59px;
	background-color: #ffd400;
}

dl, ol, ul {
	margin-top: 0px;
}

.list-inline, .list-unstyled {
	padding-left: 0px;
	list-style: none;
}

.list-inline {
	margin-left: -5px;
}

.my-profile-menu-list>li:not (:first-child ), .padding-top-15 {
	padding-top: 15px !important;
}

.padding-top-15 {
	padding-top: 15px;
}

.list-inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

hr, img {
	border: 0;
}

.width-100px {
	width: 100px !important;
}

.header-yellow {
	width: 100%;
	height: 59px;
	background-color: #ffd400;
}

.padding-top-15 {
	padding-top: 15px;
}

iframe[name='google_conversion_frame'] {
	height: 0 !important;
	width: 0 !important;
	line-height: 0 !important;
	font-size: 0 !important;
	margin-top: -13px;
	float: left;
}

@font-face {
	font-family: 'NotoSansKR Regular';
	font-style: normal;
	src: local('NotoSans-DemiLight');
	src:
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-DemiLight.eot);
	src:
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-DemiLight.eot?#iefix)
		format('embedded-opentype'),
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-DemiLight.woff2)
		format('woff2'),
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-DemiLight.woff)
		format('woff'),
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-DemiLight.otf)
		format('truetype')
}

@font-face {
	font-family: 'NotoSansKR Medium';
	font-style: normal;
	src: local('NotoSans-Regular');
	src:
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.eot);
	src:
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.eot?#iefix)
		format('embedded-opentype'),
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.woff2)
		format('woff2'),
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.woff)
		format('woff'),
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.otf)
		format('truetype')
}

@font-face {
	font-family: 'NotoSansKR Bold';
	font-style: normal;
	src: local('NotoSans-Medium');
	src:
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Medium.eot);
	src:
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Medium.eot?#iefix)
		format('embedded-opentype'),
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Medium.woff2)
		format('woff2'),
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Medium.woff)
		format('woff'),
		url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Medium.otf)
		format('truetype')
}

@font-face {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	src: url(/fonts/fontawesome-webfont.eot?v=4.3.0);
	src: url(/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0)
		format('embedded-opentype'),
		url(/fonts/fontawesome-webfont.woff2?v=4.3.0) format('woff2'),
		url(/fonts/fontawesome-webfont.woff?v=4.3.0) format('woff'),
		url(/fonts/fontawesome-webfont.ttf?v=4.3.0) format('truetype'),
		url(/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular)
		format('svg')
}

<style>
*, pre {
	word-break: break-all;
}
body, figure {
	margin: 0;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
a {
	background-color: transparent;
}
img {
	vertical-align: middle;
}
*, ::after, ::before {
	box-sizing: border-box;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: "NotoSansKR Regular";
	margin: 0;
}
small {
	color: #888;
}
body {
	line-height: 1.5438;
	color: #4d4d4d;
}
body {
	letter-spacing: -0.3px;
	font-size: 13px;
	font-family: "NotoSansKR Regular" !important;
	font-weight: 400;
	background-color: #FAFAFA;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}
.h6, h6 {
	font-size: 11px;
}
a {
	color: #f26656;
	text-decoration: none;
}
.h4, .h5, .h6, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.h5, h5 {
	font-size: 13px;
}
button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
input {
	-webkit-appearance: none !important;
}
.small, small {
	font-size: 84%;
}
.h2, h2 {
	font-size: 23px;
}
ol, ul {
	margin-bottom: 10px;
}
::selection {
	background: #FAE57C;
	color: #4d4d4d;
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}
/* @media all and (min-width:768px) */
.navbar {
	border-radius: 5px;
}
.header-main, .navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed;
	right: 0px;
	left: 0px;
	z-index: 1030;
}
.header-main, .navbar-fixed-top {
	top: 0px;
	border-width: 0 0 1px;
}
/* @media all and (min-width:768px) */
.header-main, .navbar-fixed-bottom, .navbar-fixed-top {
	border-radius: 0;
}
.header-main, .navbar-fixed-top {
	z-index: 999 !important;
}
.navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before {
	content: " ";
	display: table;
}
.navbar::after {
	clear: both;
}
/* @media all and (min-width:768px) */
.container {
	width: 750px;
}
.container, .container-fluid {
	margin-right: auto;
	margin-left: auto;
}
.container, .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}
/* @media all and (min-width:992px) */
.container {
	width: 970px;
}
/* @media all and (min-width:1200px) */
.container {
	width: 1170px;
}
.margin-top-80 {
	margin-top: 80px !important;
}
.container {
	width: 1024px !important;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.margin-top-15 {
	margin-top: 15px !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.container-fluid::after, .container-fluid::before, .container::after, .container::before, .row::after, .row::before {
	content: " ";
	display: table;
}
.container::after {
	clear: both;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .kmong-grid-3-10, .kmong-grid-3-20, .kmong-grid-4-10, .kmong-grid-4-20, .kmong-grid-4-40, .kmong-grid-4-5, .kmong-grid-5-20 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .kmong-grid-3-10, .kmong-grid-3-20, .kmong-grid-4-10, .kmong-grid-4-20, .kmong-grid-4-40, .kmong-grid-4-5, .kmong-grid-5-20 {
	float: left;
}
.col-xs-4 {
	width: 33.33%;
}
.col-xs-offset-4 {
	margin-left: 33.33%;
}
.row::after {
	clear: both;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "NotoSansKR Regular" !important;
	font-weight: 400;
	line-height: 1.1;
	color: inherit;
}
.alarm-dropdown-menu-bottom, .text-center {
	text-align: center !important;
}
.color-dark-gray {
	color: #888 !important;
}
.margin-top-25 {
	margin-top: 25px !important;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-6 {
	width: 50%;
}
.panel {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
}
.extra-option-list-group-item, .gig-form-container .gig-form-list-group-item, .gig-form-container :first-child.gig-form-list-group-item, .index-side-list-group-item, .list-group-item, .panel-default {
	border-color: #E6E6E6 !important;
}
.margin-top-0 {
	margin-top: 0px !important;
}
.margin-bottom-0 {
	margin-bottom: 0px !important;
}
.panel-heading {
	padding: 10px 12px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.panel-default > .panel-heading {
	color: #4d4d4d;
	background-color: #E8E8E8;
	border-color: #E6E6E6;
}
.panel-body {
	padding: 20px;
}
.panel-body::after, .panel-body::before {
	content: " ";
	display: table;
}
.panel-body::after {
	clear: both;
}
.multi-form-group {
	margin-top: 20px;
	margin-bottom: 20px;
}
.form-group {
	margin-bottom: 5px;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.btn {
	display: inline-block;
	margin-bottom: 0px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 15px;
	font-size: 13px;
	line-height: 1.5438;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn-primary {
	color: #fff;
	background-color: #f26656;
	border-color: #f0513e;
}
.btn-group-sm > .btn, .btn-sm, .gig-detail-profile-btn {
	padding: 11px 14px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 4px;
}
.btn-block {
	display: block;
	width: 100%;
}
.margin-top-5 {
	margin-top: 5px !important;
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
	width: 100%;
}
.form-control, .input-file-form-control, .select-control > select {
	display: block;
	width: 100%;
	height: 52px;
	padding: 15px;
	font-size: 13px;
	line-height: 1.5438;
	background-image: none;
}
.form-control, .input-file-form-control {
	color: #555;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
}
:-ms-input-placeholder.form-control, :-ms-input-placeholder.input-file-form-control {
	color: #999;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.header-yellow {
	height: 59px;
}
.header-yellow {
	width: 100%;
	height: 59px;
	background-color: #ffd400;
}
dl, ol, ul {
	margin-top: 0px;
}
.list-inline, .list-unstyled {
	padding-left: 0px;
	list-style: none;
}
.list-inline {
	margin-left: -5px;
}
.my-profile-menu-list > li:not(:first-child), .padding-top-15 {
	padding-top: 15px !important;
}
.padding-top-15 {
	padding-top: 15px;
}
.list-inline > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
hr, img {
	border: 0;
}
.width-100px {
	width: 100px !important;
}
