@charset "UTF-8";

        .gig-image .tooltip-inner  {
            padding: 5px;
            text-align: center;
            max-width: 100px;
            width: 100px;
        }

.knowledgeBaseDetailContent p {
        margin-bottom:0;
    }

    .knowledgeBaseDetailContent > img {
        width: 100%;
    }

    .twitter-typeahead {
        width: 100%;
    }
    .tt-menu {
        width: 100%;
        border-top: 2px solid #ffd400;
        text-align: left;
        position: relative;
        z-index: 2;
    }
    .tt-cursor:hover,
    .tt-cursor:focus,
    .tt-cursor{
        color: #F49165 !important;
        cursor: pointer;
    }
    .kmong-kb-search{
        color: #666;
    }
    .kmong-kb-search:focus,
    .kmong-kb-search:hover{
        color: #F49165;
    }

    .kmong-kb-search span{
        color: #888;
    }
    .kmong-kb-search:focus span,
    .kmong-kb-search:hover span{
        color: #444 !important;
    }
    
     body {
        background: #fafafa !important;
        font-size: 14px;
    }

    .font-size-h1, h1 {
        font-size: 22px !important;
    }

    .font-size-h2, h2 {
        font-size: 20px !important;
    }

    .font-size-h3, h3 {
        font-size: 18px !important;
    }

    .font-size-h4, h4 {
        font-size: 16px !important;
    }

    .font-size-h5, h5 {
        font-size: 14px !important;
    }

    .font-size-h6, h6 {
        font-size: 12px !important;
    }

    .card-font-size-default, p {
        font-size: 13px !important;
    }

    .card-font-size-small {
        font-size: 11px !important;
    }

    .panel,
    .panel-heading,
    .form-control{
        border-radius: 0;
    }

    .border-radius-none {
        border-radius: 0 !important;
    }

    .border-radius{
        border-radius: 4px !important;
    }

    .modal-content {
        border-radius: 0 !important;
        border: none !important;
    }
    
    .tab-menu-underline > .active > .todo-header:after {
            top:30px;
        }

         .dashboard-user-information  .tooltip-inner {
             padding:5px;
             max-width: 200px;
             text-align: left;
             /* If max-width does not work, try using width instead */
             width: 200px;

         }
         

            .notificationTooltip .tooltip-inner {
                padding:5px;
                max-width: 100px;
                text-align: left;
                /* If max-width does not work, try using width instead */
                width: 100px;
            }

